<ion-menu [content]="content" enable-menu-with-back-views="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
          <button ion-item *ngFor="let page of pages" (click)="openPage(page)">
              {{page.title}}
          </button>
          
      </ion-list>
    </ion-content>
    <ion-footer>
      <button text-center ion-item menuClose> Fermer le menu</button>      
     </ion-footer>
  </ion-menu>
  
  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>