<!--
  Generated template for the IncidentListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Liste incidents</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
      <ion-row>
        <ion-col> N°</ion-col>
        <ion-col>Actions</ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row align-items-center *ngFor="let incident of incidentList">
          <ion-col >
            {{incident["incidentNumber"]}}
          </ion-col>
          <ion-col>
              <button ion-button clear item-end (click)="viewIncident(incident.id)" >
                Voir
              </button>
          </ion-col>
          <ion-col></ion-col>
      </ion-row>
      </ion-grid>
    
  

</ion-content>
