<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Problems </h2>
      <hr>
    </div>
    <div class="col-md-4">
      <button (click)="createProblem()" class="btn btn-info btn-circle" style="float: right"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Titre</th>
          <th scope="col">ID</th>
          <th scope="col">Statut</th>
          <th scope="col">Priorité</th>
          <th scope="col">Incidents Liés</th>
          <th scope="col">Date de création</th>
          <th scope="col">Enregistré par</th>

          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let problem of problemList">

          <td>{{problem.problemNumber}}</td>
          <td>{{problem.problemTopic}}</td>
          <td>{{problem.id}}</td>
          <td>{{problem.problemStatus}}</td>
          <td>{{problem.problemPriority}}</td>
          <td>{{problem.incidents}}</td>
          <td>{{problem.registeredDate | date:"dd/MM/yyyy"}}</td>
          <td>{{problem.user.lastName}} {{problem.user.firstName}}</td>
          <td><a [routerLink]="['/problem/edit', problem.id]" routerLinkActive="active"><i class="fas fa-edit"></i></a></td>
          <td><a [routerLink]="['/problem/view', problem.id]"><i class="fas fa-search"></i></a></td>

        </tr>

        <!--<tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>-->
        </tbody>
      </table>
    </div>
  </div>



</div>

