<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p><font color="white">""</font></p>
      <h2>Modification de  l'incident {{incident.incidentNumber}} </h2>
      <hr>
    </div>
  </div>
  <form (ngSubmit)="!incidentForm.invalid && editIncident()" #incidentForm="ngForm">


    <div class="row">
      <div class="col-md-6">
        <label class="control-label">N° Incident *</label>
        <input type="text" #incidentNumber="ngModel" [(ngModel)]="incident.incidentNumber" class="form-control" name="incidentNumber"  id="inputSuccess1" disabled>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Statut *</label>
          <select #incidentStatus="ngModel" [(ngModel)]="incident.incidentStatus" class="form-control" name="incidentStatus">
            <option selected>Nouveau</option>
            <option>En cours</option>
            <option>En attente</option>
            <option>Résolue</option>
            <option>Annulé</option>
          </select>
        </div>
      </div>

    </div>
    <!--<div class="row">
      <div class="col-md-6">
        <label class="control-label">Enregistré par</label>
        <input type="text" class="form-control" name="user" id="inputSuccess2">
      </div>

      <div class="col-md-6">
        <label class="control-label">Motif de la mise en suspens</label>
        <select class="form-control" name="incidentType">
          <option></option>
          <option>En attente de l'appelant</option>
          <option>En attente de changement</option>
          <option>En attente du problème</option>
          <option>En attente du fournisseur</option>
        </select>
      </div>

    </div>-->

    <hr>
    <div class="row">
      <!--<div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Enregistré le</label>
          <div class="input-group date" id="datetimepicker2">
            <input type="date" class="form-control">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>-->
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Type d'incident *</label>
          <select #incidentType="ngModel" [(ngModel)]="incident.incidentType" class="form-control" name="incidentType">
            <option>Nouveau</option>
            <option>En cours</option>
            <option>En attente</option>
            <option>Résolue</option>
            <option>Annulé</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Résolution maximum le</label>
          <div class="input-group date" id="datetimepicker3">
            <input type="date" #resolutionDate="ngModel" [ngModel]="incident.resolutionDate | date: 'yyyy-MM-dd'"  (ngModelChange)="incident.resolutionDate=$event" class="form-control" name="resolutionDate">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <!--<div class="col-md-6">
        <label class="control-label">Fournisseur</label>
        <select class="form-control" name="fournisseur">
          <option></option>
          <option>SFR</option>
          <option>ORANGE</option>
          <option>FREE</option>
        </select>
      </div>-->
      <div class="col-md-6">
        <label class="control-label">Détails de la situation </label>
        <input type="text" #situationDetails="ngModel" [(ngModel)]="incident.situationDetails" class="form-control" name="situationDetails" id="inputSuccess9">
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Sujet</label>
          <input type="text" #incidentTopic="ngModel" [(ngModel)]="incident.incidentTopic" class="form-control" name="incidentTopic" id="inputSuccess3">
        </div>
      </div>

    </div>
    <hr>

    <div class="row">
      <!--<div class="col-md-6">
        <label class="control-label">Localisation</label>
        <input type="text" class="form-control" name="localisation" id="inputSuccess4">
      </div>-->
      <div class="col-md-6">
        <label class="control-label">Détails sécurité</label>
        <input type="text" #securityDetails="ngModel" [(ngModel)]="incident.securityDetails" class="form-control" name="securityDetails" id="inputSuccess4">
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Numéro incident externe</label>
          <input type="number" #externalNumberIncident="ngModel" [(ngModel)]="incident.externalNumberIncident" class="form-control" name="externalNumberIncident" id="inputSuccess5">
        </div>
      </div>

    </div>
    <hr>

    <!--<div class="row">


      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Bénéficiaire</label>
          <input type="text" class="form-control" name="beneficiaire" id="inputSuccess7">
        </div>
      </div>

    </div>
    <hr>-->


    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Matériel</label>
        <input type="text" #material="ngModel" [(ngModel)]="incident.material" class="form-control" name="material" id="inputSuccess8">
      </div>

      <div class="col-md-6">
        <label class="control-label">Demandeur *</label>
        <select type="text" #customer="ngModel" [(ngModel)]="incident.customer" class="form-control" name="customer"  >
          <option *ngFor="let customer of customerList" value="/api/customers/{{customer.id}}">{{customer.customerFirstName}} {{customer.customerLastName}}</option>
        </select>

      </div>
      <!--<div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Erreur connue</label>
          <input type="text" class="form-control" name="erreur" id="inputSuccess9">
        </div>
      </div>-->

    </div>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Priorité *</label>
        <select type="text" #incidentPriority="ngModel" [(ngModel)]="incident.incidentPriority" class="form-control" name="incidentPriority">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Gravité *</label>
          <select #severity="ngModel" [(ngModel)]="incident.severity" class="form-control" name="severity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

    </div>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Risque sécurité</label>
        <select #securityRisk="ngModel" [(ngModel)]="incident.securityRisk" class="form-control" name="securityRisk">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Population impactée</label>
          <select #nbUsersInvolved="ngModel" [(ngModel)]="incident.nbUsersInvolved" class="form-control" name="nbUsersInvolved">
            <option>1 - Tous les utilisateurs</option>
            <option>2 - Service RH</option>
            <option>3 - DSI</option>
          </select>
        </div>
      </div>

    </div>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Date début P0 P1</label>
          <div class="input-group date" id="datetimepicker4">
            <input type="date" #startDateP0P1="ngModel" [ngModel]="incident.startDateP0P1 | date: 'yyyy-MM-dd'"  (ngModelChange)="incident.startDateP0P1=$event" class="form-control" name="startDateP0P1">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Date fin P0 P1</label>
          <div class="input-group date" id="datetimepicker5">
            <input type="date" #endDateP0P1="ngModel" [ngModel]="incident.endDateP0P1 | date: 'yyyy-MM-dd'"  (ngModelChange)="incident.endDateP0P1=$event" class="form-control" name="endDateP0P1">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Date de résolution</label>
          <div class="input-group date" id="datetimepicker1">
            <input type="date" #expectedRecoveryDate="ngModel" [ngModel]="incident.expectedRecoveryDate | date: 'yyyy-MM-dd'"  (ngModelChange)="incident.expectedRecoveryDate=$event"  class="form-control" name="expectedRecoveryDate">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Situation bloquante</label>
          <select #blockingSituation="ngModel" [(ngModel)]="incident.blockingSituation" class="form-control" name="blockingSituation">
            <option>NON</option>
            <option>OUI</option>
          </select>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea #incidentDescription="ngModel" [(ngModel)]="incident.incidentDescription" class="form-control" rows="5" id="comment" name="incidentDescription"></textarea>
        </div>
      </div>
    </div>
    <hr>

    <!--
      <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <label class="control-label">Pièce jointe</label>
          <input id="input" type="file" class="file" name="piecejointe">
          <p class="help-block text-danger"></p>
        </div>
      </div>
    -->

    <div class="row justify-content-between">
      <div class="col-4">
        <a class="btn btn-secondary btn-lg btn-block" routerLink="/incident/list" role="button">Retour</a>
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-warning btn-lg btn-block">Modifier</button>
      </div>
    </div>

    <p><font color="white">""</font></p>
  </form>


  <!--  <div class="row">

    <div class="col-md-6">
      <label class="control-label">Link to content</label>
      <p class="help-block"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small></p>
      <select class="form-control">
        <option>News</option>
        <option>Store locator</option>
        <option>Offers</option>
      </select>
    </div>

  </div> -->


</div>
