<ion-header>
    <ion-navbar>
      <ion-title>Liste problems</ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col> N°</ion-col>
          <ion-col>Actions</ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row align-items-center *ngFor="let problem of problemList">
            <ion-col >
              {{problem.problemNumber}}
            </ion-col>
            <ion-col>
                <button ion-button clear item-end (click)="viewProblem(problem.id)" >
                  Voir
                </button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
        </ion-grid>
      
    
  
  </ion-content>
  