<div class="container">
  <div class="alert alert-success" *ngIf= "message">
    {{message}}
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Clients </h2>
      <hr>
    </div>
    <div class="col-md-4">
      <button (click)="createCustomer()" class="btn btn-info btn-circle" style="float: right"><i class="fas fa-user-plus"></i></button>    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Service</th>
          <th scope="col">Localisation</th>
          <th scope="col">N°téléphone</th>

          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let customer of customerList">

          <td>{{customer.id}}</td>
          <td>{{customer.customerLastName}}</td>
          <td>{{customer.customerFirstName}}</td>
          <td>{{customer.customerService}}</td>
          <td>{{customer.customerLocation}}</td>
          <td>{{customer.customerPhoneNumber}}</td>

          <td><button [routerLink]="['/customer/edit', customer.id]" class="btn btn-outline-secondary btn-sm " style="padding-bottom: 2px;" ><i class="fas fa-user-edit"></i></button></td>
          <td><button (click)="deleteCustomer(customer.id)" class="btn btn-outline-danger btn-sm " style="padding-bottom: 2px;" ><i class="fas fa-user-times"></i></button></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>



</div>

