<!--
  Generated template for the RequestsViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Consultation</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <div class="row">
        <div class="col-md-6">
          <label class="control-label">N° Request *</label>
          <input type="text" #requestNumber="ngModel" [(ngModel)]="request.requestNumber" class="form-control" name="requestNumber"  disabled>
        </div>
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Statut *</label>
            <select #requestStatus="ngModel" [(ngModel)]="request.requestStatus" class="form-control" name="requestStatus" disabled>
              <option selected>Nouveau</option>
              <option>En cours</option>
              <option>En attente</option>
              <option>Résolue</option>
              <option>Annulé</option>
            </select>
          </div>
        </div>
  
      </div>
  
  
  
      <hr>
      <div class="row">
  
        <div class="col-md-6">
          <label class="control-label">Libellé </label>
          <input type="text" #requestLabel="ngModel" [(ngModel)]="request.requestLabel" class="form-control" name="requestLabel" disabled>
        </div>
  
        <div class="col-md-6">
          <label class="control-label">Demandeur *</label>
          <select type="text" #customer="ngModel" [(ngModel)]="request.customer" class="form-control" name="customer" disabled>
            <option *ngFor="let customer of customerList" value="/api/customers/{{customer.id}}">{{customer.customerFirstName}} {{customer.customerLastName}}</option>
          </select>
        </div>
  
      </div>
      <hr>
  
      <div class="row">
  
        <div class="col-md-6">
          <label class="control-label">Priorité *</label>
          <select type="text" #requestPriority="ngModel" [(ngModel)]="request.requestPriority" class="form-control" name="requestPriority" disabled>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Situation bloquante</label>
            <select #blockingSituation="ngModel" [(ngModel)]="request.blockingSituation" class="form-control" name="blockingSituation" disabled>
              <option>NON</option>
              <option>OUI</option>
            </select>
          </div>
        </div>
  
      </div>
      <hr>
  
      <div class="row">
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Population impactée</label>
            <select #impactedPopulation="ngModel" [(ngModel)]="request.impactedPopulation" class="form-control" name="impactedPopulation" disabled>
              <option>1 - Tous les utilisateurs</option>
              <option>2 - Service RH</option>
              <option>3 - DSI</option>
            </select>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Urgence utilisateur </label>
            <select #requestEmergencyUser="ngModel" [(ngModel)]="request.requestEmergencyUser" class="form-control" name="requestEmergencyUser" disabled>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
  
      </div>
      <hr>
  
      <div class="row">
  
        <div class="col-md-6">
          <label class="control-label">Matériel</label>
          <input type="text" #requestMaterialCode="ngModel" [(ngModel)]="request.requestMaterialCode" class="form-control" name="requestMaterialCode" disabled>
        </div>
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">N° Appel externe </label>
            <input type="text" #externCallNumber="ngModel" [(ngModel)]="request.externCallNumber" class="form-control" name="externCallNumber" disabled>
          </div>
        </div>
  
      </div>
      <hr>
  
      <div class="row">
  
        <div class="col-md-6">
          <label class="control-label">Parent</label>
          <input type="text" #parent="ngModel" [(ngModel)]="request.parent" class="form-control" name="parent" disabled>
        </div>
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Formulaire </label>
            <input type="text" #form="ngModel" [(ngModel)]="request.form" class="form-control" name="form" disabled>
          </div>
        </div>
  
  
      </div>
  
      <hr>
  
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Date de livraison</label>
            <div class="input-group date" >
              <input type="date" #deliveryDate="ngModel" [ngModel]="request.deliveryDate | date: 'yyyy-MM-dd'"  (ngModelChange)="request.deliveryDate=$event" class="form-control" name="deliveryDate" disabled>
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Date fin demande</label>
            <div class="input-group date" >
              <input type="date" #endRequestDate="ngModel" [ngModel]="request.endRequestDate | date: 'yyyy-MM-dd'"  (ngModelChange)="request.endRequestDate=$event" class="form-control" name="endRequestDate" disabled>
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
          </div>
        </div>
      </div>
  
      <hr>
  
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea #requestDescription="ngModel" [(ngModel)]="request.requestDescription" class="form-control" rows="5"  name="requestDescription" disabled></textarea>
          </div>
        </div>
      </div>

</ion-content>
