<div class="container">
  <div class="alert alert-success" *ngIf= "message">
    {{message}}
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Utilisateurs </h2>
      <hr>
    </div>
    <div class="col-md-4">
      <button (click)="createUser()" class="btn btn-info btn-circle" style="float: right"><i class="fas fa-user-plus"></i></button>    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Email</th>
          <th scope="col">N° Téléphone</th>
          <th scope="col">Rôles</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let user of userList">

          <td>{{user.id}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.roles}}</td>


          <td><button [routerLink]="['/user/edit', user.id]" class="btn btn-outline-secondary btn-sm " style="padding-bottom: 2px;" ><i class="fas fa-user-edit"></i></button></td>
          <td><button (click)="deleteUser(user.id)" class="btn btn-outline-danger btn-sm " style="padding-bottom: 2px;" ><i class="fas fa-user-times"></i></button></td>

        </tr>


        </tbody>
      </table>
    </div>
  </div>




