<!--
  Generated template for the ProblemViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Consultation</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <div class="row">
        <div class="col-md-6">
          <label class="control-label">N° Problème *</label>
          <input type="text" #problemNumber="ngModel" [(ngModel)]="problem.problemNumber" class="form-control" name="problemNumber"  disabled>
        </div>
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Statut *</label>
            <select #problemStatus="ngModel" [(ngModel)]="problem.problemStatus" class="form-control" name="problemStatus" disabled>
              <option selected>Nouveau</option>
              <option>En cours</option>
              <option>En attente</option>
              <option>Résolue</option>
              <option>Annulé</option>
            </select>
          </div>
        </div>
  
  
  
      </div>
  
      <hr>
      <div class="row">
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Sujet</label>
            <input type="text" #problemTopic="ngModel" [(ngModel)]="problem.problemTopic" class="form-control" name="problemTopic" disabled>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Motif de la mise en suspence *</label>
            <select #problemTopic="ngModel" [(ngModel)]="problem.problemTopic" class="form-control" name="problemTopic" disabled>
              <option>Nouveau</option>
              <option>En cours</option>
              <option>En attente</option>
              <option>Résolue</option>
              <option>Annulé</option>
            </select>
          </div>
        </div>
  
      </div>
      <hr>
      <div class="row">
  
        <div class="col-md-6">
          <label class="control-label">Priorité *</label>
          <select type="text" #problemPriority="ngModel" [(ngModel)]="problem.problemPriority" class="form-control" name="problemPriority" disabled>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Résolution maximum le</label>
            <div class="input-group date" id="datetimepicker3">
              <input type="date" #resolutionMaximumDate="ngModel" [ngModel]="problem.resolutionMaximumDate | date: 'yyyy-MM-dd'"  (ngModelChange)="problem.resolutionMaximumDate=$event" class="form-control" name="resolutionMaximumDate" disabled>
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
          </div>
        </div>
  
  
      </div>
      <hr>
  
      <div class="row">
  
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Situation bloquante</label>
            <select #blockingSituation="ngModel" [(ngModel)]="problem.blockingSituation" class="form-control" name="blockingSituation" disabled>
              <option>NON</option>
              <option>OUI</option>
            </select>
          </div>
        </div>
  
        <div class="col-md-6">
          <label class="control-label">Incidents liés</label>
          <input type="text" #incidents="ngModel" [(ngModel)]="problem.incidents" class="form-control" name="incidents" disabled>
        </div>
  
      </div>
      <hr>
  
  
  
      <div class="row">
  
        <div class="col-md-6">
          <label class="control-label">Erreur connue </label>
          <input type="text" #knowErrorRelated="ngModel" [(ngModel)]="problem.knowErrorRelated" class="form-control" name="knowErrorRelated" disabled>
        </div>
      </div>
  
  
      <hr>
  
  
  
  
  
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea #problemDescription="ngModel" [(ngModel)]="problem.problemDescription" class="form-control" rows="5"  name="problemDescription" disabled></textarea>
          </div>
        </div>
      </div>
</ion-content>
