<div class="container">

  <div class="row">
    <div class="col-md-12">
      <p><font color="white">""</font></p>
      <h2>Modification des informations de {{customer.customerLastName | uppercase}} {{customer.customerFirstName}}  </h2>
      <hr>
    </div>
  </div>

  <form (ngSubmit)="!customerForm.invalid && editCustomer()" #customerForm="ngForm">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="control-label" for="customerLastName">Nom</label>
        <input type="text" #customerLastName="ngModel" [ngModel]="customer.customerLastName" (ngModelChange)="customer.customerLastName=$event.toUpperCase()" name="customerLastName" class="form-control" id="customerLastName">
      </div>
      <div class="form-group col-md-6">
        <label class="control-label" for="customerFirstName">Prénom</label>
        <input type="text" #customerFirstName="ngModel" [(ngModel)]="customer.customerFirstName"  name="customerFirstName" class="form-control" id="customerFirstName">
      </div>
    </div>

    <div class="row">

      <div class="form-group col-md-12">
        <label class="control-label" for="customerLocation">Localisation</label>
        <input type="text" #customerLocation="ngModel" [(ngModel)]="customer.customerLocation" name="customerLocation"  class="form-control" id="customerLocation">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label class="control-label" for="customerService">Service</label>
        <input type="text" #customerService="ngModel" [(ngModel)]="customer.customerService" name="customerService"  class="form-control" id="customerService">
      </div>

      <div class="form-group col-md-6">
        <label class="control-label" for="customerPhoneNumber">N° téléphone</label>
        <input type="text" #customerPhoneNumber="ngModel" [(ngModel)]="customer.customerPhoneNumber" name="customerPhoneNumber" class="form-control" id="customerPhoneNumber">
      </div>

    </div>
    <p><font color="white">""</font></p>
    <div class="row justify-content-between">

      <div class="col-4">
        <a class="btn btn-secondary btn-lg btn-block" routerLink="/customer/list" role="button">Retour</a>
      </div>

      <div class="col-4">
        <button type="submit" class="btn btn-info btn-lg btn-block">Modifier</button>
      </div>

    </div>




  </form>

</div>
