<div class="container login">
<h2>Connexion</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">L'adresse mail est requis</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  id="password"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Le mot de passe est requis</div>
    </div>
  </div>
  <div class="form-group loginbutton">
    <button class="btn btn-primary">Se connecter</button>
  </div>
  <div *ngIf="error" class="alert alert-danger">L'email ou le mot de passe est incorrect</div>
</form>
</div>
