<!--
  Generated template for the IncidentListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Liste changes</ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col> N°</ion-col>
          <ion-col>Actions</ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row align-items-center *ngFor="let change of changeList">
            <ion-col >
              {{change.changeNumber}}
            </ion-col>
            <ion-col>
                <button ion-button clear item-end (click)="viewChange(change.id)" >
                  Voir
                </button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
        </ion-grid>
      
    
  
  </ion-content>
  