<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Incidents </h2>
        <hr>
      </div>
      <div class="col-md-4">
          <button (click)="createIncident()" class="btn btn-info btn-circle" style="float: right"><i class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Titre</th>
            <th scope="col">ID</th>
            <th scope="col">Statut</th>
            <th scope="col">Priorité</th>
            <th scope="col">Date de création</th>
            <th scope="col">Enregistré par</th>
            <th scope="col">Client</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
  
          <tr *ngFor="let incident of incidentList">
  
            <td>{{incident["incidentNumber"]}}</td>
            <td>{{incident["incidentTopic"]}}</td>
            <td>{{incident["id"]}}</td>
            <td>{{incident["incidentStatus"]}}</td>
            <td>{{incident["incidentPriority"]}}</td>
            <td>{{incident["registeredDate"] | date:"dd/MM/yyyy"}}</td>
            <td>{{incident.user.lastName}} {{incident.user.firstName}}</td>
            <td>{{incident.customer.customerLastName}} {{incident.customer.customerFirstName}}</td>
            <td><a [routerLink]="['/incident/edit', incident.id]" routerLinkActive="active"><i class="fas fa-edit"></i></a></td>
            <td><a [routerLink]="['/incident/view', incident.id]"><i class="fas fa-search"></i></a></td>
  
          </tr>
  
          <!--<tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>-->
          </tbody>
        </table>
      </div>
    </div>

    
  
  </div>
  
