<ion-header>
    <ion-navbar>
      <ion-title>Consultation</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
        
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">N° Incident *</label>
              <input type="text" value="{{incident.incidentNumber}}" class="form-control"  id="inputSuccess1" disabled>
            </div>
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Statut *</label>
                <input type="text" value="{{incident.incidentStatus}}" class="form-control" name="incidentStatus" disabled>
              </div>
            </div>
        
          </div>
        
        
          <!--<div class="row">
            <div class="col-md-6">
              <label class="control-label">Enregistré par</label>
              <input type="text" class="form-control" name="user" id="inputSuccess2">
            </div>
        
            <div class="col-md-6">
              <label class="control-label">Motif de la mise en suspens</label>
              <select class="form-control" name="incidentType">
                <option></option>
                <option>En attente de l'appelant</option>
                <option>En attente de changement</option>
                <option>En attente du problème</option>
                <option>En attente du fournisseur</option>
              </select>
            </div>
        
          </div>-->
        
          <hr>
          <div class="row">
            <!--<div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Enregistré le</label>
                <div class="input-group date" id="datetimepicker2">
                  <input type="date" class="form-control">
                  <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
              </div>
            </div>-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Type d'incident *</label>
                <input type="text" value="{{incident.incidentType}}" name="incidentType" class="form-control" disabled>
                
              </div>
            </div>
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Résolution maximum le</label>
                <input type="date" value="{{incident.resolutionDate | date: 'yyyy-MM-dd'}}" name="resolutionDate" class="form-control" disabled>
              </div>
            </div>
        
          </div>
        
          <hr>
          <div class="row">
            <!--<div class="col-md-6">
              <label class="control-label">Fournisseur</label>
              <select class="form-control" name="fournisseur">
                <option></option>
                <option>SFR</option>
                <option>ORANGE</option>
                <option>FREE</option>
              </select>
            </div>-->
            <div class="col-md-6">
              <label class="control-label">Détails de la situation </label>
              <input type="text" value="{{incident.situationDetails}}" name="situationDetails" id="inputSuccess9" class="form-control" disabled>
            </div>
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Sujet</label>
                <input type="text" value="{{incident.incidentTopic}}" class="form-control" name="incidentTopic" id="inputSuccess3" disabled>
              </div>
            </div>
        
          </div>
          <hr>
        
          <div class="row">
            <!--<div class="col-md-6">
              <label class="control-label">Localisation</label>
              <input type="text" class="form-control" name="localisation" id="inputSuccess4">
            </div>-->
            <div class="col-md-6">
              <label class="control-label">Détails sécurité</label>
              <input type="text" value="{{incident.securityDetails}}" class="form-control" name="securityDetails" id="inputSuccess4" disabled>
            </div>
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Numéro incident externe</label>
                <input type="number" value="{{incident.externalNumberIncident}}" class="form-control" name="externalNumberIncident" id="inputSuccess5" disabled>
              </div>
            </div>
        
          </div>
          <hr>
        
          <!--<div class="row">
        
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Bénéficiaire</label>
                <input type="text" class="form-control" name="beneficiaire" id="inputSuccess7">
              </div>
            </div>
        
          </div>
          <hr>-->
        
        
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Matériel</label>
              <input type="text" value="{{incident.material}}" class="form-control" name="material" id="inputSuccess8" disabled>
            </div>
        
            <div class="col-md-6">
              <label class="control-label">Demandeur *</label>
              <select type="text" #customer="ngModel" [(ngModel)]="incident.customer" class="form-control" name="customer" disabled >
                <option *ngFor="let customer of customerList" value="/api/customers/{{customer.id}}">{{customer.customerFirstName}} {{customer.customerLastName}}</option>
              </select>
        
            </div>
            <!--<div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Erreur connue</label>
                <input type="text" class="form-control" name="erreur" id="inputSuccess9">
              </div>
            </div>-->
        
          </div>
          <hr>
        
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Priorité *</label>
              <input type="text" value="{{incident.incidentPriority}}" class="form-control" name="incidentPriority"  disabled>
            </div>
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Gravité *</label>
                <input type="text" value="{{incident.severity}}" class="form-control" name="severity" disabled>
              </div>
            </div>
        
          </div>
          <hr>
        
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Risque sécurité</label>
              <input type="text" value="{{incident.securityRisk}}" class="form-control" name="securityRisk" disabled>
            </div>
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Population impactée</label>
                <input type="text" value="{{incident.nbUsersInvolved}}" class="form-control" name="nbUsersInvolved" disabled>
              </div>
            </div>
        
          </div>
          <hr>
        
          <div class="row">
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Date début P0 P1</label>
                <input type="date" value="{{incident.startDateP0P1 | date: 'yyyy-MM-dd'}}"  name="startDateP0P1" class="form-control" disabled>
              </div>
            </div>
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Date fin P0 P1</label>
                <input type="date" value="{{incident.endDateP0P1 | date: 'yyyy-MM-dd'}}"  name="endDateP0P1" class="form-control" disabled>
              </div>
            </div>
        
          </div>
          <hr>
        
          <div class="row">
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Date de résolution</label>
                <input type="date" value="{{incident.expectedRecoveryDate | date: 'yyyy-MM-dd'}}"  name="expectedRecoveryDate" class="form-control" disabled>
              </div>
            </div>
        
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Situation bloquante</label>
                <input type="text" value="{{incident.blockingSituation}}" class="form-control"  name="blockingSituation" disabled>
              </div>
            </div>
        
          </div>
        
          <hr>
        
          <div class="row">
        
            <div class="col-lg-12">
              <div class="form-group">
                <label class="control-label">Description</label>
                <textarea value="{{incident.incidentDescription}}" rows="5" id="comment" name="incidentDescription" class="form-control" disabled></textarea>
              </div>
            </div>
            
          </div>
          <hr>
        
        <!-- 
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label class="control-label">Pièce jointe</label>
              <input id="input" type="file" class="file" name="piecejointe">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        -->
        
          
        
          
        
        
  </ion-content>
  