<nav id="sidebar" *ngIf="isLoggedIn | async">
    <div class="sidebar-header">
        <h3 style="text-align: center">Nazareth Souza</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a routerLink="/dashboard" >Dashboard</a>
        </li>
        <li>
            <a routerLink="/incident/list">Incidents</a>
            <a routerLink="/problem/list">Problèmes</a>
            <a routerLink="/change/list">Changes</a>
            <a routerLink="/request/list">Requests</a>
            
        </li>
        
    </ul>
    
    <ul class="list-unstyled components-administration">
        <li>
            

            <a routerLink="/user/list">Utilisateurs</a>
            <a routerLink="/customer/list">Clients</a>
            
        </li>
    </ul>
</nav>
