<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Informations</ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <ion-card>
      
        <ion-card-content>
            L'application Digit'ail permet de créer et gérer des incidents, des problèmes, des changements et 
            des requêtes.
            Vous allez être en mesure de résoudre plus facilement les incidents pour satisfaire vos clients.
            Grâce à notre moteur de recherche intelligent, l'accès aux informations de résolution est très simple.
        
        </ion-card-content>
      
      </ion-card>
</ion-content>
