<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
              
            
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>
        
        <a class="navbar-brand" style="padding: 10px" href="#"> DIGIT&AIL</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent"  *ngIf="isLoggedIn | async">
            <ul class="nav navbar-nav ml-auto">


              <li class="nav-item">
                <button class="btn btn-link logout"(click)="logout()">
                  Se déconnecter
                </button>
              </li>





            </ul>
        </div>
    </div>
</nav>
