<div class="container">

  <div class="row">
    <div class="col-md-12">
      <p><font color="white">""</font></p>
      <h2>Modification de utilisateur {{user.firstName}} {{user.lastName}}</h2>
      <hr>
    </div>
  </div>

  <form (ngSubmit)="!userForm.invalid && editUser()" #userForm="ngForm">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="control-label" for="lastName">Nom</label>
        <input type="text" #lastName="ngModel" [ngModel]="user.lastName" (ngModelChange)="user.lastName=$event.toUpperCase()" name="lastName" class="form-control" id="lastName">
      </div>
      <div class="form-group col-md-6">
        <label class="control-label" for="firstName">Prénom</label>
        <input type="text" #firstName="ngModel" [(ngModel)]="user.firstName"  name="firstName" class="form-control" id="firstName">
      </div>
    </div>

    <div class="row">

      <div class="form-group col-md-12">
        <label class="control-label" for="email">Email</label>
        <input type="email" #email="ngModel" [(ngModel)]="user.email" name="email"  class="form-control" id="email">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label class="control-label" for="password">Mot de passe</label>
        <input type="password" #password="ngModel" [(ngModel)]="user.password" name="customerService"  class="form-control" id="password">
      </div>

      <div class="form-group col-md-6">
        <label class="control-label" for="passwordConfirmation">Confirmation de mot de passe</label>
        <input type="password" #passwordConfirmation="ngModel" [(ngModel)]="user.passwordConfirmation" name="passwordConfirmation" class="form-control" id="passwordConfirmation">
      </div>

    </div>

    <div class="form-row">



      <div class="form-group col-md-6">
        <label class="control-label" for="phoneNumber">N° Téléphone</label>
        <input type="text" #phoneNumber="ngModel" [(ngModel)]="user.phoneNumber" name="phoneNumber" class="form-control" id="phoneNumber">
      </div>

    </div>

    <p><font color="white">""</font></p>
    <div class="row justify-content-between">

      <div class="col-4">
        <a class="btn btn-secondary btn-lg btn-block" routerLink="/user/list" role="button">Retour</a>
      </div>

      <div class="col-4">
        <button type="submit" class="btn btn-info btn-lg btn-block">Modifier</button>
      </div>

    </div>




  </form>

</div>
