<div class="container">

  <div class="row">
    <div class="col-md-12">
      <p><font color="white">""</font></p>
      <h2>Consultation du change {{change.changeNumber}} </h2>
      <hr>
    </div>
  </div>



    <div class="row">

      <div class="col-md-6">
        <label class="control-label">N° Change *</label>
        <input type="text" #changeNumber="ngModel" [(ngModel)]="change.changeNumber" class="form-control" name="changeNumber"  disabled>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Statut *</label>
          <select #changeStatus="ngModel" [(ngModel)]="change.changeStatus" class="form-control" name="changeStatus" disabled>
            <option selected>Nouveau</option>
            <option>En cours</option>
            <option>En attente</option>
            <option>Résolue</option>
            <option>Annulé</option>
          </select>
        </div>
      </div>

    </div>


    <hr>

    <div class="row">

      <div class="col-md-6">
        <label class="control-label">Libellé </label>
        <input type="text" #changeLabel="ngModel" [(ngModel)]="change.changeLabel" class="form-control" name="changeLabel" disabled>
      </div>

      <div class="col-md-6">
        <label class="control-label">Priorité *</label>
        <select type="text" #changePriority="ngModel" [(ngModel)]="change.changePriority" class="form-control" name="changePriority" disabled>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

    </div>
    <hr>

    <div class="row">

      <div class="col-md-6">
        <label class="control-label">Origine </label>
        <input type="text" #origin="ngModel" [(ngModel)]="change.origin" class="form-control" name="origin" disabled >
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Localisation</label>
          <input type="text" #changeLocation="ngModel" [(ngModel)]="change.changeLocation" class="form-control" name="changeLocation" disabled>
        </div>
      </div>

    </div>


    <hr>

    <div class="row">

      <div class="col-md-6">
        <label class="control-label">Code Matériel </label>
        <input type="text" #changeMaterialCode="ngModel" [(ngModel)]="change.changeMaterialCode" class="form-control" name="changeMaterialCode" disabled>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">N° Appel </label>
          <input type="text" #changeCallNumber="ngModel" [(ngModel)]="change.changeCallNumber" class="form-control" name="changeCallNumber" disabled>
        </div>
      </div>

    </div>



    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Population impactée</label>
          <select #impactedPopulation="ngModel" [(ngModel)]="change.impactedPopulation" class="form-control" name="impactedPopulation" disabled>
            <option>1 - Tous les utilisateurs</option>
            <option>2 - Service RH</option>
            <option>3 - DSI</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Urgence utilisateur </label>
          <select #userEmergency="ngModel" [(ngModel)]="change.userEmergency" class="form-control" name="userEmergency" disabled>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Date CAB</label>
          <div class="input-group date" >
            <input type="date" #cabDate="ngModel" [ngModel]="change.cabDate | date: 'yyyy-MM-dd'"  (ngModelChange)="change.cabDate=$event" class="form-control" name="cabDate" disabled>
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>

      <div class="col-md-6">
        <label class="control-label">Libellé client </label>
        <input type="text" #customerLabel="ngModel" [(ngModel)]="change.customerLabel" class="form-control" name="customerLabel" disabled>
      </div>

    </div>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Date début change</label>
          <div class="input-group date" >
            <input type="date" #changeStartDate="ngModel" [ngModel]="change.changeStartDate | date: 'yyyy-MM-dd'"  (ngModelChange)="change.changeStartDate=$event" class="form-control" name="changeStartDate" disabled>
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Date fin change</label>
          <div class="input-group date" >
            <input type="date" #changeEndDate="ngModel" [ngModel]="change.changeEndDate | date: 'yyyy-MM-dd'"  (ngModelChange)="change.changeEndDate=$event" class="form-control" name="changeEndDate" disabled>
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Date début planifiée</label>
          <div class="input-group date" >
            <input type="date" #plannedStartDate="ngModel" [ngModel]="change.plannedStartDate | date: 'yyyy-MM-dd'"  (ngModelChange)="change.plannedStartDate=$event" class="form-control" name="plannedStartDate" disabled>
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Date fin planifiée</label>
          <div class="input-group date" >
            <input type="date" #plannedEndDate="ngModel" [ngModel]="change.plannedEndDate | date: 'yyyy-MM-dd'"  (ngModelChange)="change.plannedEndDate=$event" class="form-control" name="plannedEndDate" disabled>
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea #changeDescription="ngModel" [(ngModel)]="change.changeDescription" class="form-control" rows="5" id="comment" name="changeDescription" disabled></textarea>
        </div>
      </div>
    </div>
    <hr>

  <div class="row justify-content-between">
    <div class="col-4">
      <a class="btn btn-secondary btn-lg btn-block" routerLink="/change/list" role="button">Retour</a>
    </div>
    <div class="col-4">
      <a class="btn btn-warning btn-lg btn-block" [routerLink]="['/change/edit', change.id]" role="button"> Editer</a>
    </div>
  </div>

    <p><font color="white">""</font></p>


</div>
